# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Entorno virtual
.venv/

# Datos grandes
data/raw/*
data/processed_trials/*
data/processed/*
data/reduced/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/reduced/.gitkeep
!data/processed_trials/.gitkeep
# MLflow
mlruns/

#others
outputs/
src/__pycache__/
multirun/

